.containor {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/src/assets/img5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.display {
    color: rgb(0, 0, 0);
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-image: url(/src/assets/img5.jpg);
    border-radius: 50px;
    border: none;
    font-size: 4rem;
    font-family: monospace;
    font-style: italic;
}

.button-start {
    width: 130px;
    height: 45px;
    margin: 5px;
    border-radius: 50px;
    font-size: 1.5rem;
    font-style: italic;
    border-color: rgb(0, 0, 226);
}

.button-stop {
    width: 130px;
    height: 45px;
    margin: 5px;
    border-radius: 50px;
    font-size: 1.5rem;
    font-style: italic;
    border-color: rgb(73, 73, 255);
}

.button-reset {
    width: 130px;
    height: 45px;
    margin: 5px;
    border-radius: 50px;
    font-size: 1.5rem;
    font-style: italic;
    border-color: rgb(73, 73, 255);
}

.button-start:hover {
    color: rgb(8, 218, 8);
    border: 3px solid;
}

.button-stop:hover {
    color: red;
    border: 3px solid;
}

.button-reset:hover {
    color: rgb(0, 0, 218);
    border: 3px solid;
}